.App {
  text-align: center;
  background-color: #333;
  height: 100vh;
}


.navbar {
  background-color: #e98df1;
  padding : .7rem;
  box-sizing: border-box;
  position: fixed;
  width: calc(100% - 2rem);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 1rem;
  border-radius: 3rem;
  display: flex;
  justify-content: space-around;
  max-width: 17rem;
}

.navbar div {
  height: 1.5rem;
  width: 1.5rem;
  padding: .5rem;
  border-radius: 50%;
  cursor: pointer;
}

h1 {
  color: white;
  margin: 0;
}

.active {
  background-color: #f5a5ef;
}

.navbar img{
  width: 100%;
  height: 100%;
}